/* importa o css que contem temas globais */
@import url("temas.css");

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, Inter;
  background-color: var(--cor-primaria);
  color: var(--cor-textos);
}

.nav_Home {
  display: flex;
  align-items: center;
  background: var(--cor-secundaria);
  /* Faz como que o Main desca junto com a tela */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: var(--sombra-suave);
  padding: 3rem 0;
  height: 80px;
  margin-top: 0;
  width: 100%;
}

#h2_nav {
  display: flex;
  text-align: center;
  margin-left: 32%;
  font-size: 2.5rem;
  margin-top: 1.7rem;
}

#logo_Home {
  position: relative;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  margin-left: 2rem;
  margin-top: 0;
  /* Animação mais fluida */
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}

#logo_Home:hover {
  transform: scale(1.05);
}

/* conteudo Main */
main {
  width: 100%;
  /* Largura máxima do main */
  max-width: 1200px;
  /* Centraliza o main na tela */
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding-block: 4rem;
}

/* h1 e h2 global */
h1,
h2 {
  font-size: 35px;
  line-height: 1.3;
  color: var(--cor-textos);
  /* Espaço abaixo do título */
  margin-bottom: 1.5rem;
  margin-top: 0;
}

/* Responsivo: cresce com a tela */
h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  max-width: 20ch;
}

/* paragrafos global da home */
p {
  font-size: 1.7rem;
  /* espaçamento entre linhas */
  line-height: 1.6;
  color: #555;
  text-align: left;
  /* largura da cada linha*/
  max-width: 70ch;
  margin-bottom: 2rem;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  background: var(--cor-secundaria);
  width: 100%;

  height: 90px;
}

#p_footer {
  color: var(--cor-textos);
  font-size: 1.5rem;
}

/* Responsividade para dispositivos moveis*/
@media (max-width: 768px) {
  .nav_Home {
    height: 70px;
    padding: 0 1rem;
    justify-content: center; 
  }

  #h2_nav {
    display: flex;
    text-align: center;
    right: 30%;
    font-size: 22px;
    max-width: 65ch;
    line-height: 0.9;
    margin-top: 1.7rem;
  }

  #logo_Home {
    width: 100px;
    height: 100px;
    right: 12%;
  }

  .section_home {
    align-items: center; 
    text-align: center;
    padding-block: 2rem;
  }

  h1,
  h2 {
    text-align: center; 
  }

  p {
    text-align: center;
    font-size: 1rem;
  }

  footer {
    display: flex;
    justify-content: center;
    background: var(--cor-secundaria);
    width: 100%;

    height: 50px;
  }
  #p_footer {
    color: var(--cor-textos);
    font-size: 15px;
  }
}
