:root {
  /* Cor de fundo principal */
  --cor-primaria: #0d0d0d;

  /* Cor do formulario */
  --cor-secundaria: #5321bf;

  --cor-terciaria: #2D1859;

  --cor-destaque: #0056b3; 
  --sombra-suave: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  /* Cor textos */
  --cor-textos: #fff;

  /* Definição de cores */

  --text-padrao: Inter, sans-serif;
}
